.App {
  text-align: center;
}

.underline {
    text-align: center;
    width: 5rem;
    border-color: red;
    margin-bottom: 3rem;
}

.contact-link {
    color: white;
    text-decoration: underline;
}

.contact-link:hover {
    color: grey;
    text-decoration: underline;
}

.pdf-link {
    color: red;
}

.pdf-link:hover {
    color: grey;
}

.hero {
    height: 100vh;
    background: url(/images/building1.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-homepage {
    height: 80vh;
    background: url(/images/building1.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    color: white;
    font-size: 4rem;
}

.about-divs {
    padding: 3rem 7rem;
    background-color: rgba(0, 0, 0, 0.4)

}

.pointer {
    cursor: pointer;
}
